
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloWord</title>
</head>
<body>
    <div> 
        <h3> 測試View 關係</h3>
    </div>
</body>
</html>
