
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3A</title>
</head>
<body>
    <div>
        <h2>從 Controller 傳遞數據到 View畫面</h2>
        <hr />


        ViewData 的答案：  @ViewData["XYZ"]   <br />
        ViewBag 的答案：  @ViewBag.XYZ          <br />
        TempData 的答案：  @TempData["XYZ"]          <br />
        <hr />
        <br />
    </div>
</body>
</html>
